<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizations</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery-3.2.1.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Data Visualization</h2>
  <p>Click on the images to enlarge them.</p>
  <!-- first row-->
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../static/images/comments.png" target="_blank">
          <img src="../static/images/comments.png"  alt="comments" style="width:100%">
          <div class="caption">
            <p>Comments Line Chart</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../static/images/comments_7-16.png" target="_blank">
          <img src="../static/images/comments_7-16.png" alt="likes" style="width:100%">
          <div class="caption">
            <p>Comments Bar Chart</p>
          </div>
        </a>
      </div>
    </div>
    </div>
   <!-- second row-->

  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../static/images/likes.png" target="_blank">
          <img src="../static/images/likes.png"  alt="comments" style="width:100%">
          <div class="caption">
            <p>Likes Line Chart</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../static/images/likes_7-16.png" target="_blank">
          <img src="../static/images/likes_7-16.png" alt="likes" style="width:100%">
          <div class="caption">
            <p>Likes Bar Chart</p>
          </div>
        </a>
      </div>
    </div>
    </div>

  <!--third row-->

  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../static/images/share.png" target="_blank">
          <img src="../static/images/share.png"  alt="comments" style="width:100%">
          <div class="caption">
            <p>Share Line Chart</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../static/images/shares_7-16.png" target="_blank">
          <img src="../static/images/shares_7-16.png" alt="likes" style="width:100%">
          <div class="caption">
            <p>Share Bar Chart</p>
          </div>
        </a>
      </div>
    </div>
    </div>

  <!--4th row-->
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../static/images/subscribers.png" target="_blank">
          <img src="../static/images/subscribers.png"  alt="comments" style="width:100%">
          <div class="caption">
            <p>Subscribers Line Chart</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../static/images/subscribers_7-16.png" target="_blank">
          <img src="../static/images/subscribers_7-16.png" alt="likes" style="width:100%">
          <div class="caption">
            <p>Subscribers Bar Chart</p>
          </div>
        </a>
      </div>
    </div>
    </div>

  <!--fifth row-->
  <!-- first row-->
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../static/images/views.png" target="_blank">
          <img src="../static/images/views.png"  alt="comments" style="width:100%">
          <div class="caption">
            <p>Views Line Chart</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="../static/images/views_7-16.png" target="_blank">
          <img src="../static/images/views_7-16.png" alt="likes" style="width:100%">
          <div class="caption">
            <p>Views Bar Chart</p>
          </div>
        </a>
      </div>
    </div>
    </div>
  </div>
</div>

</body>
</html>



</body>
</html>